update-policy {
 grant legacy-ddns name {{ portal_name }} A;
 grant legacy-ddns name {{ files_name }} A;
 grant legacy-ddns name _probe.{{ zone }} TXT;
 grant recovery-ddns name {{ portal_name }} A;
 grant recovery-ddns name {{ files_name }} A;
 grant recovery-ddns name _probe.{{ zone }} TXT;
};
